RewriteEngine On

RewriteCond %{THE_REQUEST} /pages/ [NC]
RewriteRule ^pages/(.*)$ /$1 [L,R=302,NC,NE]

RewriteCond %{HTTP_HOST} ^showstopper\.app$ [NC]

RewriteCond $1 !js [NC]
RewriteRule ^((?!pages/)[a-z]{2}/.*)$ /pages/$1 [L,NC]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{DOCUMENT_ROOT}/$1\.php -f [NC]
RewriteRule ^([^.]+)/?$ $1.php [NC,L]
