.moviedetails {
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: left;
    padding-left: 20px;
    width: 200px;

}
.moviecontainer {
	display: flex;
    flex-direction: row;
    align-items: left;
    padding: 50px;
}
.movieimage {
	padding: 10px;
	size: 10%;
}
