.navbar {
	background-color: black !important;
}

body {
	padding-bottom: 100px;
	background-color: #283a59 !important;
}
body#home {
	padding-bottom: 100px;
	background-image: radial-gradient(at top right, #458BD9, #132339) !important;
	text-align: center;
}

footer {
	border-top: 2px solid white;
	background-color: black;
	color: white;
	position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
	z-index: 5;
}

.card {
	width: 14rem;
	border: 0px !important;
}

.title {
	width: 14rem;
	box-shadow: 0px 10px 13px -7px #000000;
}

img {
	border: 5px !important;
}

.movieImg {
    width: 100%;
		max-width: 215px;
    height: auto;
}

.movie-content {
	margin-top: auto;
	margin-bottom: auto;
}

.filters {
	position: fixed;
	top: 0;
  padding: 30px;
	margin-top: 200px;
	color: black;
	background-color: #AAC1E9;
	font-family: sans-serif;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.srow {
	color: black;
	text-align: center;
	margin-top: 10px;
	background-color: #AAC1E9;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.srow p {
	margin: 0px;
}

.loginform {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 1.1rem;
    outline: 0;
    max-width: 1000px;
		z-index: 0;
}

.loginbtn {
    border-radius:50px;
}

.login-or {
    position: relative;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
}

.hr-or {
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.platforms {
	width: 100% !important;
}

.platforms img {
	margin: 5px;
}
.platformsno{
	margin-left: 5px;
}
.platformsno img{
	display: inline-block;
	width: 60px;
	opacity: 0.2 !important;
}
.platformsyes img{
	display: inline-block;
	width: 60px;
}
.hometitle {
	color: white;
	font-family: sans-serif;
}
.homecomp {
	width: 600px;
}
.homerow {
	background-color: #458BD9;
	opacity: 0.1 !important;
}

.homemoviepic {
	display: inline-block;
	width: 150px;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #AAC1E9;
  overflow-x: hidden;x
  padding-top: 30px;
	margin-top: 75px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.favorite {
	max-width: 250px;
}

.favorite-actor {
	padding: 10%;
	margin-top: auto;
	margin-bottom: auto;
}

.history {
	padding: 30px;
}
