.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
 
}
.resultitem {
	display:flex;
	flex-direction: row;
	padding-top: 30px;
}

.movieimage {
	padding: 10px;
	size: 10%;
}
.searchcontainer {
	padding-top: 50px;
	padding-left: 50px;
}
.resultscon {
	display:flex;
	flex-direction:column;
}
.itemdetials {
	display: flex;
	flex-direction: column;
	padding-left: 30px;
}
.h1 {
	text-align: center;
}